@media (max-width: 525px) {
    #navegationBar {
        max-width: 350px;
    }

    .nav-action-list i {
        margin-right: 1.5rem;
    }

    #logoID {
        width: 100%;
        height: 10rem;
    }

    #logoID figure {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .navBar-list,
    .navBar-list {
        height: 350px;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-action-btn a:hover {
        color: hsl(5, 100%, 73%);
    }
}

@media (min-width: 575px) {

    /** == */
    :root {
        --fs-1: 4rem;
    }

    /** REUSED STYLE */
    .container {
        max-width: 550px;
        width: 100%;
        margin: 2rem auto;
    }

    /*   .has-scrollbar> {
        min-width: calc(50% - 12.5px);
    } */
    .has-scrollbar {
        padding: .5rem
    }

    .nav-action-list i {
        margin-right: 1.5rem;
    }

    #logoID {
        width: 100%;
        height: 10rem;
    }

    #logoID figure {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .navBar-list {
        height: 250px;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-action-btn a:hover {
        color: hsl(5, 100%, 73%);
    }
}



@media (min-width: 768px) {
    :root {
        /** typography*/
        --fs-2: 3rem;
    }

    /** REUSED STYLE*/
    .container {
        max-width: 760px;
    }

    .has-scrollbar {
        padding: .5rem;
    }

    /*  .collection {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        gap: 1.5rem;
    } */

    .nav-action-list {
        display: flex;
        align-items: flex-start;
    }

    .nav-action-list a {
        font-size: 1.8rem;
        color: #333;
        font-weight: 500;
    }

    .nav-action-list i {
        margin-right: 1.5rem;
    }

    #logoID {
        width: 100%;
        height: 15rem;
    }

    #logoID figure {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

}



@media (min-width: 992px) {
    :root {
        --fs-3: 2.4rem;
    }

    .container {
        max-width: 990px;
    }

    .has-scrollbar>li {
        min-width: calc(33.33% - 16.66px);
    }

    .navBar,
    .navBar-list,
    .nav-action-list {
        all: unset;
    }

    .navBar-item:not(:last-child) {
        border: none;
    }

    .navBar-list,
    .nav-action-list {
        display: flex;
    }

    .nav-action-list {
        gap: 2rem;
    }

    #navegationBar {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .navBar-list {
        margin-inline: auto;
        gap: 3.5rem;
    }

    .nav-action-list>li:first-child {
        display: block;
    }

    .nav-action-btn {
        position: relative;
    }

    .nav-action-badge {
        position: absolute;
        top: .5rem;
        right: -12px;
    }

    /*   .collection {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        gap: 1.5rem;
    } */
    .has-scrollbar {
        padding: 1rem;
    }
}



@media (min-width: 1200px) {
    :root {
        --fs-1: 5rem;
        --fs-2: 3.6rem;
    }

    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1440px) {
    /* .container {
            max-width: 1920px;
        } */
}