/** ==== Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');
@import url(./mediaQueries.css);

/** >>>>> Root */
:root {
    /** ===  Color ==== */
    --clr-white: #fff;
    --clr-white-Two: #f2f2f2;
    --clr-black: #000;
    --clr-black-Two: #333;
    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-29: hsl(217, 28%, 9%);
    --gray-x-11-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --bittersweet: hsl(5, 100%, 69%);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --salmon: hsl(5, 100%, 73%);
    --white-Three: hsl(0, 0%, 100%);
    --black-Three: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);

    /** ===  Margin ==== */
    --margin: 2rem auto;

    /** ===  Fonts / Typography ==== */
    --font-family-Mons: 'Montserrat', sans-serif;
    --font-family-Os: 'Oswald', sans-serif;

    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;

    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /** transition */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

    /** spacing */
    --section-padding: 60px;
}

/**<<<<< General Project <<<<<<<*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* =Animation =*/
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* :-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--oxford-blue_60);
} */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p,
span {
    letter-spacing: 0.1rem;
}

h1,
h2,
h3 {
    margin: 2rem auto;
}

button,
input {
    border: none;
    cursor: pointer;
}

input {
    width: 100%;
}

h1 {
    font-size: var(--fs-1);
    font-weight: 700;
}

h2 {
    font-size: var(--fs-2);
}

h3 {
    font-size: var(--fs-3);
}

.btn {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-radius: .5rem;
}

.btn:is(:hover, :focus) {
    background-color: hsl(5, 100%, 69%);
    color: var(--clr-white-Two);
}

.btn:active {
    transform: scale(0.9);
}

body {
    width: 100%;
    background-color: var(--clr-white);
    font-family: var(--font-family-Mons);
}

/*?   === Header === */
.header {
    background-color: var(--clr-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    transition: var(--transition-1);
}

.header.active {
    box-shadow: 1px 1px 15px #333;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header .logo {
    width: 8rem;
    height: 4rem;
}

.logo img {
    object-fit: contain;
}

.nav__open-btn:is(:hover, :focus) {
    background-color: var(--salmon);
}

.container {
    outline: 2px solid #000;
}

/*? ===  navBar === */
.navBar {
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: -280px;
    width: 100%;
    max-width: 280px;
    height: 100%;
    border-right: 3px solid var(--rich-black-fogra-29);
    font-family: var(--font-family-Mons);
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 2;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
}

.navBar.active {
    visibility: visible;
    transform: translateX(280px);
    transition: 0.5s var(--cubic-in);
}

.nav__close-btn {
    color: var(--rich-black-29);
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 2.5rem;
    transition: var(--transition-1);
}

.nav__close-btn:is(:hover, :focus) {
    color: var(--bittersweet);
}

.navBar .logo {
    background: var(--maximum-blue-green_10);
    padding: 1rem;
}

.navBar .logo .img {
    margin-inline: auto;
}

.navBar-list {
    padding: 2rem;
    border-bottom: 1px solid var(--gainsboro);
}

.navBar-list,
.nav-action-list {
    margin: 3rem;
    flex-direction: column;
}

.navBar-item:not(:last-child) {
    border-bottom: 1px solid var(--gainsboro);
}

.navBar-link {
    color: var(--rich-black-29);
    padding: 1rem;
    transition: var(--transition-1);
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.navBar-link:is(:hover, :focus) {
    color: var(--bittersweet);
}

;

.nav-action-list>li:first-child {
    display: none;
}

.nav-action-btn {
    color: var(--rich-black-29);
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    transition: var(--transition-1);
}

.nav-action-btn:is(:hover, :focus) {
    color: var(--bittersweet);
}

.nav-action-btn i {
    font-size: 2rem;
}

.nav-action-badge {
    margin-left: auto;
    font-size: var(--fs-8);
    background: var(--bittersweet);
    color: var(--white);
    width: 18px;
    height: 18px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.6);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*? === Hero === */
.hero {
    background-image: url("../assets/images/hero-banner.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.hero {
    min-height: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-title {}

.hero-title strong {
    display: block;
    font-weight: 500;
    filter: opacity(0.5);
    margin-top: .5rem;
    font-family: var(--font-family-Os);
}

.hero-text {
    font-family: var(--font-family-Mons);
    font-size: var(--fs-8);
    line-height: 1.8;
    max-width: 48rem;
    margin-bottom: 2rem;
}

/*? === Collection Card ==== */

.collection {
    margin: 2rem auto;
    display: grid;
}

.collection-card {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*  padding-block: 45px 25px; */
}

.collection-card.one {
    background-image: url("/src/assets/images/collection-1.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 1rem;
}

.collection-card.two {
    background-image: url("/src/assets/images/collection-2.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 1rem;
}

.collection-card.three {
    background-image: url("/src/assets/images/collection-3.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 1rem;
}

.has-scrollbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 2rem;
    scroll-snap-type: inline mandatory;
}

/* 
.has-scrollbar::-webkit-scrollbar {
    height: 1rem;
}

.has-scrollbar::-webkit-scrollbar-track {
    outline: 2px solid hsl(5, 100%, 69%);
    background-color: #f2f2f2;
    border-radius: 2rem;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(5, 100%, 69%);
    outline: 2px solid #f2f2f2;
    border-radius: 2rem;
} */

.btn-secondary {
    margin-bottom: 1.5rem;
    display: flex;
    background-color: transparent;
    padding: 1.5rem;
}

.btn-secondary i {
    margin-left: .5rem;
}

/*? === === Product === === */
.product .section-title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.filter-btn {
    color: var(--onyx);
    padding: 1rem 1.6rem;
    font-family: var(--font-family-Os);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    border-radius: 3rem;
    border: 1px solid var(--gainsboro);
    cursor: pointer;
}

.filter-btn:active {
    transform: scale(0.9);
}

.filter-btn.active {
    background-color: var(--bittersweet);
    color: #f2f2f2;
    border-color: var(--bittersweet);
}

.card-banner {
    background-color: var(--cultured);
    position: relative;
    height: 350px;
    overflow: hidden;
}

.image-contain {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    transition: var(--transition-2);
}

.product-card:is(:hover, :focus) .image-contain {
    transform: scale(1.5);
}

.card-badge {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: var(--bittersweet);
    color: #fff;
    padding: 1rem;
    font-family: var(--font-family-Os);
    font-size: var(--fs-7);
    border-radius: 2.5rem;
}

.card-action-list {
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: var(--transition-1);
}

.card-action-list i {
    margin-right: 1rem;
}

/* .product-card :is(:hover, :focus) .card-action-list {
    right: 2rem;
    opacity: 1;
}
 */

.card-action-item {
    position: relative;
}

.card-action-item:not(:last-child) {
    margin-bottom: 1rem;
}

.card-action-btn i {
    background-color: #fff;
    color: var(--rich-black-29);
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 50%;
    transition: var(--transition-1);
}